@model MVC_test.BL.Records.Model.RecordEntityModel
@using MVC_test.WebUI.Models
<title>@ViewData["Login"]</title>

<head>
    <meta charset="utf-8" />
    <title>Successfull login</title>
</head>
<body>
    <h1>Welcome @Model.Fname @Model.Lname!</h1>
</body>